body {
	margin: 0;
	padding: 0;
}

.content {
	display: flex;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.battle-field-wrap {
	width: 800px;
	height: 600px;
	margin: auto;
	fill: gray;
}
/*
.drawable-view {
	display: flex;
	position: absolute;
}*/